table {
	width: 100%;
	border: 1px solid #444444;
	border-collapse: collapse;

	z-index: 5001;
}
th, td {
	border: 1px solid #444444;
	padding: 10px;
}

.print-project {
	page-break-after: always;
	page-break-inside: auto;
}

.print-project:last-child {
  page-break-after: avoid;
}

.center {
	text-align: center;
}