<div class="center-content">
	<div class="card lg">
		<div class="card-header">
			<h4 class="card-title">내 마일리지 조회</h4>
		</div>
		<div class="card-body">
			<ul class="pagination pagination-sm">
				<li *ngIf="!isFirstPageRange" class="page-item">
					<a class="page-link" (click)="gotoFirstPage()">
						<i class="material-icons">first_page</i>
					</a>
				</li>
				<li *ngIf="!isFirstPageRange" class="page-item">
					<a class="page-link" (click)="gotoPreviousPageRange()">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>
				<ng-container *ngFor="let i of pageIndexRange">
					<li *ngIf="i === pageIndex" class="page-item active">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
					<li *ngIf="i !== pageIndex" class="page-item">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
				</ng-container>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoNextPageRange()">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoLastPage()">
						<i class="material-icons">last_page</i>
					</a>
				</li>
			</ul>
			<div>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>코드</th>
							<th>마일리지 명</th>
							<th>추정 점수</th>
							<th>점수</th>
							<th>발생일자</th>
							<th>활동상세내역</th>
							<th>사업단확인</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let mileage of myMileages">
							<td>{{mileage.code}}</td>
							<td>{{mileageCode[mileage.code].detail}}</td>
							<td>{{mileage.score}}</td>
							<td>{{(mileage.is_accepted)?mileage.score:0}}</td>
							<td>{{mileage.act_date.from}} ~ {{mileage.act_date.to}}</td>
							<td>{{mileage.detail}}</td>
							<td>
								<input type="checkbox" [checked]="mileage.is_accepted" disabled>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="myMileages.length === 0">
					검색 결과 없음!
				</div>
			</div>
		</div>
	</div>
</div>