<div class="card-wapper flex">
	<div class="card left">
		<div class="card-header">
			<h4 class="card-title">마일리지 조회(관리자)</h4>
			<div class="extra">
				<button class="extra-btn" (click)="downloadExcel()"><img src="/assets/img/excel-icon.png"> </button>
				<button class="extra-btn" (click)="print()"><i class="material-icons">print</i></button>
			</div>
		</div>
		<div class="card-body">
			<button class="t1 pull-right filter-btn" (click)="onFKeyPress()">필터(f)</button>
			<ul class="pagination pagination-sm">
				<li *ngIf="!isFirstPageRange" class="page-item">	
					<a class="page-link" (click)="gotoFirstPage()">
						<i class="material-icons">first_page</i>
					</a>
				</li>
				<li *ngIf="!isFirstPageRange" class="page-item">
					<a class="page-link" (click)="gotoPreviousPageRange()">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>
				<ng-container *ngFor="let i of pageIndexRange">
					<li *ngIf="i === pageIndex" class="page-item active">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
					<li *ngIf="i !== pageIndex" class="page-item">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
				</ng-container>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoNextPageRange()">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoLastPage()">
						<i class="material-icons">last_page</i>
					</a>
				</li>
			</ul>
			<div>
				<p class="score-sum">총 예상 점수 합계 : {{sumOfPredictedScore}}, 총 점수 합계 : {{sumOfScore}}</p>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>학생</th>
							<th>코드</th>
							<th>마일리지 명</th>
							<th>예상 점수</th>
							<th>점수</th>
							<th>발생일자</th>
							<th>입력일자</th>
							<th>사업단확인</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let mileage of allMileages" [routerLink]="['/mileage/detail', mileage.id]" style="cursor:pointer;">
							<td>{{mileage.user_name}}<br>#{{mileage.user_num}}</td>
							<td>{{mileage.code}}</td>
							<td>{{mileageCodes[mileage.code].detail}}</td>
							<td>{{mileageCodes[mileage.code].score}}</td>
							<td>{{mileage.score}}</td>
							<td>{{formatDate(mileage.act_date.from)}} ~ {{formatDate(mileage.act_date.to)}}</td>
							<td>{{formatDate(mileage.input_date)}}</td>
							<td>
								<input type="checkbox" [checked]="mileage.is_accepted" disabled>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="allMileages.length === 0">
					검색 결과 없음!
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isSearchActivated" class="card right search">
			<div class="card-body">
				<form [formGroup]='searchForm' class="form-inline form-search" role="form">
					<div class="search-item">
						<label class="control-label">입력날짜 검색</label>
						<div class="date-wapper">
							<input formControlName="input_date" type="text" class="form-control date" placeholder="입력날짜"
								bsDaterangepicker [maxDate]="today" (bsValueChange)="onInputDateChange($event)"
								[bsConfig]="{ adaptivePosition: true, rangeInputFormat: 'YYYY-MM-DD', isAnimated: true,  containerClass: 'theme-green'}">
							<a class="reset-btn" (click)="clearInputDate()"><i class="material-icons">clear</i></a>
						</div>
					</div>
					<div class="search-item multi-select">
						<label class="control-label">마일리지 구분</label>
						<select formControlName="major_code" class="form-control" (change)="onChangeMajorMileageCode(major_code.value)">
							<option [ngValue]="null">모두</option>
							<option *ngFor="let option of majorMileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
						</select>
						<select *ngIf="major_code.value != null" formControlName="minor_code" class="form-control" (change)="onChangeMinorMileageCode(minor_code.value)">
							<option [ngValue]="null">모두</option>
							<option *ngFor="let option of minorMileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
						</select>
						<select *ngIf="major_code.value != null && minor_code.value != null" formControlName="mileage_code" class="form-control" (change)="gotoPage(0)">
							<option [ngValue]="null">모두</option>
							<option *ngFor="let option of mileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
						</select>
					</div>
					<div class="search-item">
						<label class="control-label">학생 이름으로 검색</label>
						<div>
							<input formControlName="user_name" class="form-control search-input" type="text"
								(keyup.enter)="gotoPage(0)" placeholder="학생 이름">
							<button class="btn" (click)="gotoPage(0)">검색</button>
						</div>
					</div>
					<div class="search-item">
						<label class="control-label">학번으로 검색</label>
						<div>
							<input formControlName="user_num" class="form-control search-input" type="text"
								(keyup.enter)="gotoPage(0)" placeholder="학번">
							<button class="btn" (click)="gotoPage(0)">검색</button>
						</div>
					</div>
					<div class="search-item multi-select">
						<label class="control-label">학과로 검색</label>
						<select #college class="form-control" (change)="onChangeCollegeType(college.value)">
							<option [ngValue]="null" selected>모두</option>
							<option *ngFor="let option of collegeTypeOptions" [ngValue]="option.key">{{option.value}}</option>
						</select>
						<select *ngIf="department.value != null" formControlName="department" class="form-control" (change)="this.gotoPage(0)">
							<option *ngFor="let option of departmentTypeOptions" [ngValue]="option.key">{{option.value}}</option>
						</select>
					</div>
					<div class="search-item">
						<label class="control-label">사업단 확인 여부</label>
						<div class="check-wapper">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="accepted" formControlName="accepted"
									class="custom-control-input" [checked]='true' (change)="gotoPage(0)">
								<label class="custom-control-label" for="accepted">확인</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" id="not_accepted" formControlName="not_accepted"
									class="custom-control-input" [checked]='true' (change)="gotoPage(0)">
								<label class="custom-control-label" for="not_accepted">미확인</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>