<ng-container *ngIf="user && user.user_type == 'student'">
	<p class="title center bold">마일리지 제출 보고서</p>
	<br>
	<p class="size1">학과: {{user.department_type}}</p>
	<p class="size1">학번: {{user.user_num}}</p>
	<p class="size1">이름: {{user.name}}</p>
	<br>
	<p class="size2 center">상기 본인은 마일리지 입력을 완료하였으므로<br>보고서를 제출합니다.</p>
	<br>
	<p class="size1 center">{{printDate}}</p>
	<p class="size1 center">제출자:
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(인)</p>
</ng-container>

<table *ngIf="mileage">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="60%" />
    </colgroup>
    <tbody>
        <tr>
            <th colspan="3" class="center">마일리지 상세 정보</th>
        </tr>
        <tr>
            <th rowspan="3" class="center">학생 정보</th>
            <th>학생 이름</th>
            <td>{{mileage.user_name}}</td>
        </tr>
        <tr>
            <th>학번</th>
            <td>{{mileage.user_num}}</td>
        </tr>
        <tr>
            <th>학과</th>
            <td>{{mileage.department}}</td>
        </tr>
        <tr>
            <th rowspan="6" class="center">마일리지 정보</th>
            <th>마일리지 이름</th>
            <td>{{mileageCode[mileage.code].detail}}</td>
        </tr>
        <tr>
            <th>마일리지 코드</th>
            <td>{{mileage.code}}</td>
        </tr>
        <tr>
            <th>마일리지 점수</th>
            <td>{{mileage.score}}</td>
        </tr>
        <tr>
            <th>입력 날짜</th>
            <td>{{formatDate(mileage.input_date)}}</td>
        </tr>
        <tr>
            <th>참여기간</th>
            <td>{{formatDate(mileage.act_date.from)}} ~ {{formatDate(mileage.act_date.to)}}</td>
        </tr>
        <tr>
            <th>활동 상세내역</th>
            <td>{{mileage.detail}}</td>
        </tr>
    </tbody>
</table>