<div class="center-content">
        <div class="card lg">
            <div class="card-header">
                <h4 class="card-title">{{majorDescription}}입력</h4>
            </div>
            <div class="card-body">
                <form [formGroup]='newMileageForm' (ngSubmit)="addMileage()">
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">입력 날짜</label>
                            <div class="col-sm-10 col-md-6">
                                <input type="text" class="form-control" value="{{today|date:'yyyy-MM-dd'}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 선택</label>
                            <div class="col-sm-10 col-md-6">
                                <select formControlName="minor_code" class="form-control" (change)="onChangeMinorMileageCode(minor_code.value)">
                                    <option *ngFor="let option of minorMileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                                <br *ngIf="minor_code.value">
                                <select *ngIf="minor_code.value" formControlName="code" class="form-control" (change)="onChangeMileageCode(code.value)">
                                    <option *ngFor="let option of mileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                                <h6 *ngIf="accept_method" class="extra">*증빙서류 : {{accept_method}}</h6>
                                <h6 *ngIf="remark" class="extra">*비고     : {{remark}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 코드</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="code_preview" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 예상 점수</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="score" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">참여기간</label>
                            <div formGroupName="act_date" class="col-sm-10 col-md-6 edit-date-range">
                                <div class="start">
                                    <input formControlName="from" type="text" readonly class="form-control" placeholder="시작 날짜" 
                                            bsDatepicker [minDate]="act_date.value.from" [maxDate]="today"
                                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                </div>
                                <span>~</span>
                                <div class="end">
                                    <input formControlName="to" type="text" readonly class="form-control" placeholder="종료 날짜" 
                                            bsDatepicker [minDate]="act_date.value.from" [maxDate]="today"
                                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="item row">
                                <label class="col-md-2 control-label">활동상세내역</label>
                                <div class="col-sm-10 col-md-6">
                                    <input formControlName="detail" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-fill pull-right">추가</button>
                </form>
            </div>
        </div>
</div>