<div class="center-content">
        <div class="card lg">
            <div class="card-header">
                <h4 class="card-title">{{majorMileageCode[type].description}} 입력</h4>
            </div>
            <div class="card-body">
                <form [formGroup]='newMileageForm'>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지명</label>
                            <div class="col-sm-10 col-md-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 코드</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="code" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 점수</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="score" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">참여기간</label>
                            <div formGroupName="act_date" class="col-sm-10 col-md-6 edit-date-range">
                                <div class="start">
                                    <input formControlName="from" type="text" class="form-control" placeholder="시작 날짜" 
                                            bsDatepicker [minDate]="act_date.value.from" [maxDate]="act_date.value.from"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}">
                                </div>
                                <span>~</span>
                                <div class="end">
                                    <input formControlName="to" type="text" class="form-control" placeholder="종료 날짜" 
                                            bsDatepicker [minDate]="act_date.value.to" [maxDate]="today"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="item row">
                                <label class="col-md-2 control-label">활동상세내역</label>
                                <div class="col-sm-10 col-md-6">
                                    <input formControlName="detail" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-fill pull-right">추가</button>
                </form>
            </div>
        </div>
</div>