<div class="center-content">
        <div class="card sm">
            <div class="card-header">
                <h4 class="card-title">비밀번호 재설정</h4>
            </div>
            <div class="card-body">
                <div class="col">
                    <div class="form-group">
                        <label>사용자 번호(아이디)</label>
                        <input type="text" class="form-control" #user_num>
                    </div>
                </div>
                <small class="light-gray2">비밀번호가 기억 나셨나요? <a [routerLink]="'/auth/login'">로그인</a></small>
                <button type="button" class="btn btn-fill pull-right" (click)="updateRandomPassword(user_num.value)">재설정</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>