<div *ngIf="isLoad" class="center-content">
        <div class="card lg">
            <div class="card-header">
                <h4 class="card-title">마일리지 상세 조회</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="MileageForm">
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">입력 날짜</label>
                            <div class="col-sm-10 col-md-6">
                                <input type="text" class="form-control" value="{{mileage.input_date|date:'yyyy-MM-dd'}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 선택</label>
                            <!-- 조회폼 -->
                            <div *ngIf="!modify" class="col-sm-10 col-md-6">
                                <input type="text" class="form-control" value="{{mileage.code}}" readonly>
                            </div>  
                            <!-- 수정폼                             -->
                            <div *ngIf="modify" class="col-sm-10 col-md-6">
                                <select class="form-control" (change)="onChangeMinorMileageCode(code)">
                                    <option *ngFor="let option of minorMileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                                <br *ngIf="code">
                                <select *ngIf="code" formControlName="code" class="form-control" (change)="onChangeMileageCode(code)">
                                    <option *ngFor="let option of mileageCodeOptions" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                                <h6 *ngIf="code" class="extra">*증빙서류 : {{accept_method}}</h6>
                                <h6 *ngIf="code" class="extra"> 비고     : {{remark}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 코드</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="code" type="text" value="{{mileage.code}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 점수</label>
                            <div class="col-sm-10 col-md-6">
                                <input  class="form-control" type="text" value="{{mileage.score}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">참여기간</label>
                                <div formGroupName="act_date" class="col-sm-10 col-md-6 edit-date-range">
                                    <div class="start">
                                        <input *ngIf="!modify" formControlName="from" type="text" readonly class="form-control" placeholder="시작 날짜" 
                                            value="{{formatDate(mileage.act_date.from)}}">
                                        <input *ngIf="modify" formControlName="from" type="text" readonly class="form-control" placeholder="시작 날짜" 
                                            bsDatepicker [minDate]="act_date.value.from" [maxDate]="today" value="{{formatDate(mileage.act_date.from)}}"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                    </div>
                                    <span>~</span>
                                    <div class="end">
                                            <input *ngIf="!modify" formControlName="to" type="text" readonly class="form-control" placeholder="종료 날짜" 
                                            value="{{formatDate(mileage.act_date.to)}}">
                                        <input *ngIf="modify" formControlName="to" type="text" readonly class="form-control" placeholder="종료 날짜" 
                                            bsDatepicker [minDate]="act_date.value.to" [maxDate]="today" value="{{formatDate(mileage.act_date.to)}}"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="item row">
                                <label class="col-md-2 control-label">활동상세내역</label>
                                <div class="col-sm-10 col-md-6">
                                    <input *ngIf="!modify" formControlName="detail" type="text" value="{{mileage.detail}}" class="form-control" readonly>
                                    <input *ngIf="modify" formControlName="detail" type="text" value="{{mileage.detail}}" class="form-control">
                                </div>
                            </div>
                        </div>
                    <button *ngIf="!modify" class="btn btn-fill pull-right" (click)="detailModify()">수정</button>
                    <button *ngIf="modify" class="btn btn-fill pull-right" (click)="complete()">완료</button>
                </form>
            </div>
        </div>
</div>