<div *ngIf="isLoad" class="center-content">
        <div class="card lg">
            <div class="card-header">
                <h4 class="card-title">마일리지 상세 조회</h4>
                <div class="extra">
                    <button class="extra-btn" (click)="print()"><i class="material-icons">print</i></button>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="MileageForm">
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">입력 날짜</label>
                            <div class="col-sm-10 col-md-6">
                                <input type="text" class="form-control" value="{{mileage.input_date|date:'yyyy-MM-dd'}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 선택</label>
                            <div *ngIf="viewMinor" class="col-sm-10 col-md-6">
                                <input type="text" class="form-control" value="{{viewMinor}}" readonly>
                                <br>
                                <input type="text" class="form-control" value="{{viewCode}}" readonly>
                                <h6 *ngIf="viewMinor" class="sub">*증빙서류 : {{accept_method}}</h6>
                                <h6 *ngIf="remark" class="sub">*비고     : {{remark}}</h6>
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 코드</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="code" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">마일리지 점수</label>
                            <div class="col-sm-10 col-md-6">
                                <input formControlName="score" class="form-control" type="text" value="{{mileage.score}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">참여기간</label>
                                <div formGroupName="act_date" class="col-sm-10 col-md-6 edit-date-range">
                                    <div class="start">
                                        <!-- 조회폼  -->
                                        <input *ngIf="!modify" type="text" readonly class="form-control" placeholder="시작 날짜" 
                                            value="{{mileage.act_date.from|date:'yyyy-MM-dd'}}">
                                        <!-- 수정폼 -->
                                        <input *ngIf="modify" formControlName="from" type="text" readonly class="form-control" placeholder="시작 날짜" 
                                            bsDatepicker [minDate]="" [maxDate]="today" value="{{mileage.act_date.from|date:'yyyy-MM-dd'}}"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                    </div>
                                    <span>~</span>
                                    <div class="end">
                                        <!-- 조회폼 -->
                                        <input *ngIf="!modify" type="text" readonly class="form-control" placeholder="종료 날짜" 
                                            value="{{mileage.act_date.to|date:'yyyy-MM-dd'}}">
                                        <!-- 수정폼 -->
                                        <input *ngIf="modify" formControlName="to" type="text" readonly class="form-control" placeholder="종료 날짜" 
                                            bsDatepicker [minDate]="act_date.value.to" [maxDate]="today" value="{{mileage.act_date.to|date:'yyyy-MM-dd'}}"
                                            [bsConfig]="{ isAnimated: true,  containerClass: 'theme-green'}" style="cursor:pointer; background-color: white;">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">활동상세내역</label>
                            <div class="col-sm-10 col-md-6">
                                <input *ngIf="!modify" formControlName="detail" type="text" value="{{mileage.detail}}" class="form-control" readonly>
                                <input *ngIf="modify" formControlName="detail" type="text" value="{{mileage.detail}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isAdmin" class="form-group">
                        <div class="item row">
                            <label class="col-md-2 control-label">사업단 확인</label>
                            <div class="col-sm-10 col-md-6">
                                <input type="checkbox" formControlName="is_accepted" (change)="onChangeIsAccepted(is_accepted.value)">
                            </div>
                        </div>
                    </div>
                    <button *ngIf="!modify" class="btn btn-fill pull-right" (click)="detailModify()">수정</button>
                    <button *ngIf="modify" class="btn btn-fill pull-right" (click)="onSubmit()">완료</button>
                    <button *ngIf="modify" class="btn btn-fill pull-right" (click)="cancel()">취소</button>
                </form>
            </div>
        </div>
</div>