<div class="center-content">
	<div class="card lg">
		<div class="card-header">
			<h4 class="card-title">내 마일리지 조회</h4>
		</div>
		<div class="card-body">
			<ul class="pagination pagination-sm">
				<li *ngIf="!isFirstPageRange" class="page-item">
					<a class="page-link" (click)="gotoFirstPage()">
						<i class="material-icons">first_page</i>
					</a>
				</li>
				<li *ngIf="!isFirstPageRange" class="page-item">
					<a class="page-link" (click)="gotoPreviousPageRange()">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>
				<ng-container *ngFor="let i of pageIndexRange">
					<li *ngIf="i === pageIndex" class="page-item active">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
					<li *ngIf="i !== pageIndex" class="page-item">
						<a class="page-link" (click)="gotoPage(i)">{{i+1}}</a>
					</li>
				</ng-container>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoNextPageRange()">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
				<li *ngIf="!isLastPageRange" class="page-item">
					<a class="page-link" (click)="gotoLastPage()">
						<i class="material-icons">last_page</i>
					</a>
				</li>
			</ul>
			<div>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of allUsers" (click)="accountDetail.openModal(user)">
							<td>{{userTypes[user.user_type]}}</td>
							<td>{{user.name}}</td>
							<td>{{user.user_num}}</td>
							<td>{{formatDate(user.join_date)}}</td>
							<td *ngIf="user.user_type === 'student'">{{majorTypes[user.major_type]}}</td>
							<td *ngIf="user.user_type === 'mento'">{{user.workplace}}/{{user.department}}</td>
							<td *ngIf="user.user_type === 'professor'">{{majorTypes[user.department_type]}}</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="allUsers.length === 0">
					검색 결과 없음!
				</div>
			</div>
		</div>
	</div>
</div>